/* 사용할 것
background-color
text-align
padding
margin
border
font-size
font-family
color
width
height */

body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
}

form {
    width: 500px;
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
}

form p label {
    text-align: left;
}

.submit input {
    width: 100px;
    height: 30px;
    margin: 5px;
    border-width: 0;
    border-radius: 5px;
}

.submit .yes {
    background-color: lightgreen;
    color: black;
}

.submit .no {
    background-color: red;
    color: white
}